/* buttons that link to rest of page. */
a.button {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;

	color: initial;
	width: 20%;
	padding: 10px;
	text-align: center;
	color: blue;
	font-weight: bold;
}
/* Image customation. */
img {
	width: 80%;
}
img.center {
	display:block;
	margin-left: auto;
	margin-right: auto;
}

header {
	font-family: "Courier New", Courier, monospace;
	font-size: 30px
}

/* https://codepen.io/ArtemGordinsky/pen/GnLBq*/
.flashing-cursor {
  font-weight: 100;
  font-size: 30px;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
