/* buttons that link to rest of page. */
a.button {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;

	color: initial;
	width: 20%;
	padding: 10px;
	text-align: center;
	color: blue;
	font-weight: bold;
}
/* Image customation. */
img {
	width: 80%;
}
img.center {
	display:block;
	margin-left: auto;
	margin-right: auto;
}

header {
	font-family: "Courier New", Courier, monospace;
	font-size: 30px
}
